<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
<!-- 게시물의 첨부파일 목록 -->

	<select id="listAll"
	resultType="com.eee.mari.board.BoardDTO">
	<include refid="paging_header"/>
		select bno, title, writer, name, regdate, viewcnt
		from board b, member m
		<include refid="search"/>
		order by bno desc
		<include refid="paging_footer"/>
	</select>
	
	<select id="countArticle" resultType="int">
		select count(*)
		from board b, member m
		<include refid="search" />
	</select>
	
	<update id="increaseViewcnt">
		update board
		set viewcnt=viewcnt+1
		where bno=#{bno}
	</update>
	
	<select id="view"
	resultType="com.eee.mari.board.BoardDTO">
		select bno,title,content,regdate,viewcnt,name,writer
		from board b, member m
		where b.writer=m.name and bno=#{bno}
	
	</select>
	
	<sql id="search">
		<choose>
			<when test="search_option == 'all' ">
				where b.writer=m.name
					and (name like '%'||#{keyword}||'%'
						or content like '%'||#{keyword}||'%'
						or title like '%'||#{keyword}||'%' )
			</when>
			<otherwise>
				where b.writer=m.name
					and ${search_option} like '%'|| #{keyword} ||'%'
			</otherwise>
		</choose>
	</sql>
	
	<sql id="paging_header">
		select *
		from (
			select rownum as rn, A.*
			from(
	</sql>
	
	<sql id="paging_footer">
			) A
		)	where rn between #{start} and #{end}
	</sql>
	
	<insert id="insert">
		insert into board (bno,title,content,writer) values
		( seq_board.nextval, #{title}, #{content}, #{writer} )
	</insert>
	

	<select id="getAttach" 
	resultType="String">
			select fullname
			from attach
			where bno=#{bno}
			order by regdate
	</select>
	
	
	<select id="deleteAttach">
			delete from attach
			where fullName=#{fullName}
	</select>
	
	
	<update id="addAttach" >
			insert into attach (fullName,bno)
			values
	</update>
	
	
	
	<delete id="delete" >
		
	</delete>






</mapper>